.bg {
	background-color: #F5F5F5;
	font-family: 'BPG LE Studio 04';
}
.art-detail {
	
}
.container.color {
	background-color: #fff;
	padding: 20px;
}
.art-image {
	background-color: #F5F5F5;
	width: 740px;
}
.art-image-a {
	display: block;
	width: 100%;
}
.art-image-img {
	width: 100%;
	height: auto;
	display: block;
	cursor: zoom-in;
}
.art-image-description {
	width: 400px;
	min-width: 400px;
	background-color: #F5F5F5;
	margin-left: 20px;
	padding: 20px;
}
.art-image-description h1 {
	font-family: 'BPG LE Studio 04 Caps';
	font-size: 22px;
	padding-bottom: 10px;
}
.art-image-description-link {
	font-family: 'BPG LE Studio 04 Caps';
	display: block;
	font-size: 13px;
	margin: 10px 0;
}
.art-place {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
}
.category-h2 {
	font-size: 13px;
	text-transform: uppercase;
	margin: 50px 0 10px;
}
.span-description {
	display: block;
	font-size: 13px;
	margin-bottom: 10px;
}
.description-h3 {
	margin: 100px 0 10px;
}
.art-image-short-description {
	background-color: #fff;
	width: 100%;
	min-height: 100px;
	padding: 20px;
}
.short-description-p {
	font-size: 14px;
	line-height: 18px;
}
.same-images {
	margin: 50px 0;
}
.container-h1 {
	padding: 0px 0 20px;
}
.view-all {
	display: inline-block;
	padding-left: 10px;
	border-left: 2px solid #000;
	margin-left: 8px;
}
.inner-bg {
	background-color: #F5F5F5;
	padding: 20px 2px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

@media screen and (max-width: 960px) {
	.flex-between {
		display: block;
	}
	.art-image {
		width: 100%;	
	}
	.art-image-description {
		width: 100%;
		margin-left: initial;
		margin-top: 20px;
		min-width: initial;
	}
}