.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-around {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.clear-container:after {
    content: "";
    display: block;
    clear: both;
}