#crafts2 {
    padding-top: 50px;
}
.gallery-parallax {
    margin-top: 100px;
    height: 300px;
    width: 100%;
    background-image: url(../img/parallax/parallax-gallery-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.portfolio-box {
  margin: 60px auto;
}
.filter-tabs-container {
  font-size: 0;
  margin: 0 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-tabs {
    font-family: 'BPG Nino Mtavruli';
    display: inline-block;
    padding: 10px 15px 6px;
    cursor: pointer;
    font-size: 16px;
    background-color: #F5F5F5;
}
.grid-item {
  width: 25%;
}
.polaroid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 300px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  max-width: 250px;
  margin: 0 auto 20px;
  background-color: #F5F5F5;
}
.polaroid img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
}
.polaroid:hover .polaroid-img {
  opacity: 0.3;
  cursor: zoom-in;
}

.polaroid:hover .website-link {
  opacity: 1;
}

div.filter-tabs:active,
div.filter-tabs.is-checked {
  background-color: rgba(255,165,0, .8);
}
